@media (min-width: 320px) and (max-width: 425px) {
  @import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
  /* Animation properties */
  .star {
    animation: star 10s ease-out infinite;
  }
  .wars {
    animation: wars 10s ease-out infinite;
  }
  .byline span {
    animation: spin-letters 10s linear infinite;
  }
  .byline {
    animation: move-byline 10s linear infinite;
  }
  /* Keyframes */
  @keyframes star {
    0% {
      opacity: 0;
      transform: scale(1.5) translateY(-0.1em);
    }
    20% {
      opacity: 1;
    }
    50% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: translateZ(-1000em);
    }
  }
  @keyframes wars {
    0% {
      opacity: 0;
      transform: scale(1.5) translateY(-0.1em);
    }
    20% {
      opacity: 1;
    }
    50% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: translateZ(-1000em);
    }
  }
  @keyframes spin-letters {
    0% {
      opacity: 0;
      transform: rotateY(90deg);
    }
    30% {
      opacity: 1;
    }
    50% {
      transform: rotateY(0);
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes move-byline {
    0% {
      transform: translateZ(5em);
    }
    100% {
      transform: translateZ(0);
    }
  }
  /* Make the 3D work on the container */
  .titulohome {
    margin-bottom: 120%;
  }
  .starwars-demo {
    perspective: 200px;
    transform-style: preserve-3d;
  }
  /* General styles and layout */
  body {
    background: #000 url(//cssanimation.rocks/demo/starwars/images/bg.jpg);
  }
  .starwars-demo {
    height: 17em;
    left: 50%;
    position: absolute;
    top: 53%;
    transform: translate(-50%, -50%);
    width: 34em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .byline span {
    display: inline-block;
  }
  .star, .wars, .byline {
    position: absolute;
    font-family: "ITC Serif Gothic", Lato;
    text-align: center;
    text-transform: uppercase;
    top: 80%;
  }
  .star {
    color: #fff;
    top: -2em;
    font-size: 30px;
    text-align: center;
  }
  .wars {
    color: #fff;
    bottom: 10em;
    font-size: 20px;
    text-align: center;
  }
  .byline {
    color: #fff;
    font-family: "ITC Serif Gothic", Lato;
    font-size: 12px;
    top: 10em;
    letter-spacing: 0.4em;
    text-align: center;
    text-transform: uppercase;
    top: 29%;
  }
  /*** Media queries for adjusting to different screen sizes ***/
}
@media only screen and (min-width: 320px) and (max-width: 425px) and (max-width: 600px) {
  .starwars-demo {
    font-size: 10px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 425px) and (max-width: 480px) {
  .starwars-demo {
    font-size: 7px;
  }
}
@media (min-width: 320px) and (max-width: 425px) {
  .preparate {
    font-family: "ITC Serif Gothic", Lato;
    font-size: 27px;
    color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-top: 150%;
    margin-bottom: 20%;
    padding: 15px;
  }
}
@media (min-width: 320px) and (max-width: 425px) {
  .contenedorvol {
    color: #fff;
    height: 20%;
    text-align: center;
    padding: 3%;
  }
}
@media (min-width: 320px) and (max-width: 425px) {
  h2 {
    font-family: "ITC Serif Gothic", Lato;
    font-size: 27px;
    color: #fff;
  }
}
@media (min-width: 320px) and (max-width: 425px) {
  .btn {
    background-color: #fff;
    font-family: "ITC Serif Gothic", Lato;
  }
}
@media (min-width: 320px) and (max-width: 425px) {
  .condicionescaja {
    background-color: burlywood;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
}
@media (min-width: 320px) and (max-width: 425px) {
  .condiciones {
    font-family: "ITC Serif Gothic", Lato;
    font-size: 30px;
    margin: 15px;
    padding: 10px;
  }
}
@media (min-width: 320px) and (max-width: 425px) {
  .vestimenta {
    font-family: "ITC Serif Gothic", Lato;
    border: solid 2px #000;
    padding: 15px;
  }
}
@media (min-width: 320px) and (max-width: 425px) {
  .bebidas {
    font-family: "ITC Serif Gothic", Lato;
    border: solid 2px #000;
    padding: 15px;
  }
}
@media (min-width: 320px) and (max-width: 425px) {
  .bailar {
    font-family: "ITC Serif Gothic", Lato;
    border: solid 2px #000;
    padding: 15px;
  }
}
@media (min-width: 320px) and (max-width: 425px) {
  .cocurso {
    font-family: "ITC Serif Gothic", Lato;
    border: solid 2px #000;
    padding: 15px;
  }
}
@media (min-width: 320px) and (max-width: 425px) {
  .imgves {
    width: 85%;
  }
}
@media (min-width: 320px) and (max-width: 425px) {
  .imgbebi {
    width: 60%;
  }
}
@media (min-width: 320px) and (max-width: 425px) {
  .imgmusi {
    width: 80%;
  }
}
@media (min-width: 320px) and (max-width: 425px) {
  .imgconcu {
    width: 80%;
  }
}
@media (min-width: 320px) and (max-width: 425px) {
  audio {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 425px) {
  .audiotex {
    color: #fff;
    text-align: center;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  @import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
  /* Animation properties */
  .star {
    animation: star 10s ease-out infinite;
  }
  .wars {
    animation: wars 10s ease-out infinite;
  }
  .byline span {
    animation: spin-letters 10s linear infinite;
  }
  .byline {
    animation: move-byline 10s linear infinite;
  }
  /* Keyframes */
  @keyframes star {
    0% {
      opacity: 0;
      transform: scale(1.5) translateY(-0.1em);
    }
    20% {
      opacity: 1;
    }
    50% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: translateZ(-1000em);
    }
  }
  @keyframes wars {
    0% {
      opacity: 0;
      transform: scale(1.5) translateY(-0.1em);
    }
    20% {
      opacity: 1;
    }
    90% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: translateZ(-1000em);
    }
  }
  @keyframes spin-letters {
    0% {
      opacity: 0;
      transform: rotateY(90deg);
    }
    30% {
      opacity: 1;
    }
    70%, 86% {
      transform: rotateY(0);
      opacity: 1;
    }
    95%, 100% {
      opacity: 0;
    }
  }
  @keyframes move-byline {
    0% {
      transform: translateZ(5em);
    }
    100% {
      transform: translateZ(0);
    }
  }
  /* Make the 3D work on the container */
  .titulohome {
    margin-bottom: 120%;
  }
  .starwars-demo {
    perspective: 200px;
    transform-style: preserve-3d;
  }
  /* General styles and layout */
  body {
    background: #000 url(//cssanimation.rocks/demo/starwars/images/bg.jpg);
  }
  .starwars-demo {
    height: 17em;
    left: 50%;
    position: absolute;
    top: 100%;
    transform: translate(-50%, -50%);
    width: 34em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .byline span {
    display: inline-block;
  }
  .star, .wars, .byline {
    position: absolute;
    font-family: "ITC Serif Gothic", Lato;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    top: 80%;
  }
  .star {
    color: #fff;
    top: -2em;
    font-size: 35px;
    text-align: center;
  }
  .wars {
    color: #fff;
    bottom: -10em;
    font-size: 30px;
    text-align: center;
  }
  .byline {
    color: #fff;
    font-family: "ITC Serif Gothic", Lato;
    font-size: 15px;
    top: 10em;
    letter-spacing: 0.4em;
    text-align: center;
    text-transform: uppercase;
    top: 29%;
  }
  /*** Media queries for adjusting to different screen sizes ***/
  .preparate {
    font-family: "ITC Serif Gothic", Lato;
    font-size: 27px;
    color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-top: 150%;
    margin-bottom: 20%;
    padding: 15px;
  }
  .contenedorvol {
    color: #fff;
    height: 20%;
    text-align: center;
    padding: 3%;
  }
  h2 {
    font-family: "ITC Serif Gothic", Lato;
    font-size: 27px;
    color: #fff;
  }
  .btn {
    background-color: #fff;
    font-family: "ITC Serif Gothic", Lato;
  }
  .condicionescaja {
    background-color: burlywood;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  .condiciones {
    font-family: "ITC Serif Gothic", Lato;
    font-size: 30px;
    margin: 15px;
    padding: 10px;
  }
  .vestimenta {
    font-family: "ITC Serif Gothic", Lato;
    border: solid 2px #000;
    padding: 15px;
    height: 10%;
    width: 85%;
  }
  .bebidas {
    font-family: "ITC Serif Gothic", Lato;
    border: solid 2px #000;
    padding: 15px;
    height: 10%;
    width: 85%;
  }
  .bailar {
    font-family: "ITC Serif Gothic", Lato;
    border: solid 2px #000;
    padding: 15px;
    height: 10%;
    width: 85%;
  }
  .cocurso {
    font-family: "ITC Serif Gothic", Lato;
    border: solid 2px #000;
    padding: 15px;
    height: 10%;
    width: 85%;
  }
  .imgves {
    width: 85%;
  }
  .imgbebi {
    width: 60%;
  }
  .imgmusi {
    width: 80%;
  }
  .imgconcu {
    width: 80%;
  }
  audio {
    width: 100%;
  }
  .audiotex {
    color: #fff;
    text-align: center;
  }
}
.h1cont {
  font-family: "ITC Serif Gothic", Lato;
  font-size: 30px;
  color: #fff;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding: 15px;
}

.h2cont {
  font-family: "ITC Serif Gothic", Lato;
  color: #fff;
  font-size: 26px;
  padding: 15px;
  text-align: center;
}

.whatsa {
  background-color: rgb(26, 211, 26);
  padding: 15px;
  border-radius: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin-left: 13%;
  margin-bottom: 10%;
}

.h1info {
  color: white;
  padding: 15px;
  text-align: center;
}

.h2info {
  color: white;
  padding: 15px;
  text-align: center;
}

.h3info {
  padding-top: 25%;
  color: white;
  padding: 15px;
  text-align: center;
}

.h4info {
  color: white;
  padding: 15px;
  text-align: center;
}

.gif {
  width: 70%;
  margin-left: 14%;
}

iframe {
  background-color: #000000;
  border-radius: 20px;
  margin: 28px;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  height: 30rem;
  width: 90%;
  margin-bottom: 5%;
  margin-left: 5%;
}

.menu-header {
  background-color: #0D6EFD;
  color: #ffffff;
}
.menu-header__menu-nav {
  width: 50%;
}

.navbar-brand:hover {
  font-size: 30px;
}
.navbar-brand:hover__navbar-brand {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
}

.menu-ul {
  list-style-type: none;
  margin: 0%;
  display: flex;
  justify-content: end;
}
@media (max-width: 990px) {
  .menu-ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.menu-ul li a {
  color: #ffffff;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
}
.menu-ul li .nav-link:hover {
  font-size: 22px;
}

.footer {
  background-color: #36363a;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cont-foot {
  display: flex;
  justify-content: end;
  align-content: center;
}
.cont-foot .footertex {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
  font-family: "ITC Serif Gothic", Lato;
  margin-left: 10%;
}
.cont-foot .tex-footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 15px;
  width: 100%;
  border-radius: 80px;
  background-color: rgb(136, 12, 12);
  padding: 5%;
  font-size: 22px;
  font-family: "ITC Serif Gothic", Lato;
}

/*# sourceMappingURL=style.css.map */
