.h1cont{
    font-family: "ITC Serif Gothic", Lato;
    font-size: 30px;
    color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 15px;
}
.h2cont{
    font-family: "ITC Serif Gothic", Lato;
    color: #fff;
    font-size: 26px;
    padding: 15px;
    text-align: center;
}

.whatsa{
    background-color: rgb(26, 211, 26);
    padding: 15px;
    border-radius: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-left: 13%;
    margin-bottom: 10%;
}