@media (min-width:320px) and (max-width: 425px){
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);


.line-1{
    position: relative;
    width: 10em;
    margin:20%;
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(90%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}


/* Animation properties */
.star {
  animation: star 10s ease-out infinite;
}
.wars {
  animation: wars 10s ease-out infinite;
}
.byline span {
  animation: spin-letters 10s linear infinite;
}
.byline {
  animation: move-byline 10s linear infinite;
}

/* Keyframes */
@keyframes star {
  0% {
    opacity: 0;
    transform: scale(1.5) translateY(-0.10em);
  }
  20% {
    opacity: 1;
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: translateZ(-1000em);
  }
}

@keyframes wars {
  0% {
    opacity: 0;
    transform: scale(1.5) translateY(-0.10em);
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: translateZ(-1000em);
  }
}

@keyframes spin-letters {
  0% {
    opacity: 0;
    transform: rotateY(90deg);
  }
  30% {
    opacity: 1;
  }
  70%, 86% {
    transform: rotateY(0);
    opacity: 1;
  }
  95%, 100% {
    opacity: 0;
  }
}

@keyframes move-byline {
  0% {
    transform: translateZ(5em);
  }
  100% {
    transform: translateZ(0);
  }
}

/* Make the 3D work on the container */
.titulohome{
  margin-bottom: 120%;
}
.starwars-demo {
  perspective: 200px;
  transform-style: preserve-3d;
  
}

/* General styles and layout */
body {
  background: #000 url(//cssanimation.rocks/demo/starwars/images/bg.jpg);
}

.starwars-demo {
  height: 17em;
  left: 50%;
  position: absolute;
  top: 53%;
  transform: translate(-50%, -50%);
  width: 34em;
 display: flex;
 justify-content: center;
 align-items: center;
}

.byline span {
  display: inline-block;
}



.star, .wars, .byline {
  position: absolute;
  font-family: "ITC Serif Gothic", Lato;
  font-size: 20px;



  text-align: center;
  text-transform: uppercase;
  top: 80%;

}

.star {
  color: #fff;
  top: -2em;
  font-size: 30px;
  text-align: center;
}

.wars {
  color: #fff;
  bottom: 10em;
  font-size: 20px;
  text-align: center;
}

.byline {
  color: #fff;
  font-family: "ITC Serif Gothic", Lato;
  font-size: 12px;
  top: 10em;
  
  letter-spacing: 0.4em;
 
  text-align: center;
  text-transform: uppercase;
  top: 29%;
}

/*** Media queries for adjusting to different screen sizes ***/

@media only screen and (max-width: 600px) {
  .starwars-demo {
    font-size: 10px;
  }
}

@media only screen and (max-width: 480px) {
  .starwars-demo {
    font-size: 7px;
  }
}
}

.preparate{
  font-size: 25px;
  color: #fff;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-top: 150%;
  margin-bottom: 20%;
}

.contenedorvol{
  background-color: aqua;
  height: 20%;
  text-align: center;
  padding: 3%;
}

h2{
  font-size: 27px;
}

.btn{
  background-color: #fff;
}

.condicionescaja{
  background-color: burlywood;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}


.vestimenta{
  border: solid 2px #000;
}

.bebidas{
  border: solid 2px #000;

  
}


.bailar{
  border: solid 2px #000;


}

.cocurso{
  border: solid 2px #000;


}
.imgbot{
  width: 20%;
}

.border-dark{
  font-size: 25px;
  margin: 10px;
  padding: 10px;

}

.imgmusi{
  width: 50%;
}