.h1info{
    color: white;
    padding: 15px;
    text-align: center;
}

.h2info{
    color: white;
    padding: 15px;
    text-align: center;

}

.h3info{
    padding-top: 25%;
    color: white;
    padding: 15px;
    text-align: center;
}

.h4info{
    color: white;
    padding: 15px;
    text-align: center;
}

.gif{
    width: 70%;
    margin-left: 14%;
}